@page "/administration/permission"

@inject IPermissionService _permServices

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>
                Permission Management
                <div class="page-title-subheading">
                    Display all permissions of the system.
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <form class="row g-3">
                <div class="col-auto">
                    <input name="search" id="txtSearch" placeholder="Search" type="text" class="form-control" @bind-value="@searchValue" @bind-value:event="oninput" @onkeyup="SearchPermission">
                </div>
                <div class="col-auto">
                    <button type="submit" class="mb-2 me-2 btn btn-outline-primary" @onclick="SearchPermission">
                        <span class="btn-icon-wrapper pe-2 opacity-7">
                            <i class="fa fa-search fa-w-20"></i>
                        </span>
                        Search
                    </button>
                    <button class="mb-2 me-2 btn btn-outline-primary">
                        <span class="btn-icon-wrapper pe-2 opacity-7">
                            <i class="fa fa-upload fa-w-20"></i>
                        </span>
                        Import from Excel
                    </button>
                    <button class="mb-2 me-2 btn btn-outline-primary">
                        <span class="btn-icon-wrapper pe-2 opacity-7">
                            <i class="fa fa-download fa-w-20"></i>
                        </span>
                        Export to Excel
                    </button>
                    <button class="mb-2 me-2 btn btn-outline-primary">
                        <span class="btn-icon-wrapper pe-2 opacity-7">
                            <i class="fa fa-plus fa-w-20"></i>
                        </span>
                        Create
                    </button>
                </div>

            </form>            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Permission list</h5>
                
                <PermissionTable Permissions="permList" PageNumber="pageParameters.PageNumber" />
                
            </div>
        </div>
        <div class="row">
        <div class="col">
                <Pagination PageInfo="pageInfo" Spread="2" SelectedPage="SelectedPage" />
        </div>
    </div>
    </div>
</div>

@code {
    public IEnumerable<PermissionModel> permList { get; set; } = new List<PermissionModel>();
    public PageData pageInfo { get; set; } = new PageData();
    PageParameters pageParameters = new PageParameters();

    string searchValue = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        await GetPermissions();
    }

    private async Task GetPermissions()
    {
        var pagingResponse = await _permServices.GetPermissions(pageParameters.PageNumber, searchValue);
        permList = pagingResponse.Items;
        pageInfo = pagingResponse.PageData;

    }

    private async Task SearchPermission()
    {
        await GetPermissions();
    }

    private async Task SelectedPage(int page)
    {
        pageParameters.PageNumber = page;
        await GetPermissions();
    }
}
