@page "/administration/test"
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-graph text-success">
                </i>
            </div>
            <div>
                Form Layouts
                <div class="page-title-subheading">
                    Build whatever layout you need with our Architect framework.
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <form class="row g-3">
                <div class="col-auto">
                    <input type="text" class="form-control" id="staticEmail2" value="email@example.com">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>

            </form>
            @*<button type="button" data-bs-toggle="tooltip" title="Example Tooltip" data-bs-placement="bottom" class="btn-shadow me-3 btn btn-dark">
                <i class="fa fa-star"></i>
            </button>
            <button type="button" data-bs-toggle="tooltip" title="Example Tooltip" data-bs-placement="bottom" class="btn-shadow me-3 btn btn-dark">
                <i class="fa fa-star"></i>
            </button>
            <div class="d-inline-block dropdown">
                <button type="button" class="btn btn-info">
                    <span class="btn-icon-wrapper pe-2 opacity-7">
                        <i class="fa fa-business-time fa-w-20"></i>
                    </span>
                    Buttons
                </button>                
            </div>*@
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Inline</h5>
        <div>
            <form class="mt -3">
                <div class="position-relative form-check form-check-inline">
                    <input type="checkbox" class="form-check-input"> Some input
                    <label class="form-label form-check-label"></label>
                </div>
                <div class="position-relative form-check form-check-inline">
                    <input type="checkbox" class="form-check-input"> Some other input
                    <label class="form-label form-check-label"></label>
                </div>
            </form>
            <div class="divider"></div>
            <form class="row g-3">
                <div class="col-auto">
                    <input type="text" class="form-control" id="staticEmail2" value="email@example.com">
                </div>
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

@code {

}
